.project-card {
    background-color: #f1f1f1;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    min-width: 300px;
    max-width: 450px;
    flex: 1 1 450px;
    box-shadow: 3px 4px 0px rgba(0, 0, 0, 0.5);
}

.project-image {
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    margin-bottom: 10px;
    vertical-align: middle;
    border: none !important;
    border-radius: 2px;
    position: relative;
}
  
.project-description {
    white-space: pre-line;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
    color: #333;

} 
.project-card h2 {
    font-size: medium;
    text-transform: uppercase;
    margin-top: 0;
}
  
.project-card p {
    margin-bottom: 10px;
}

.links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}  
.button-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    border-radius: 5px;
    background-color: #199be2;
    color: white;
    cursor: pointer;
    width: 90px;
    margin: 0 5px 0 5px;
    align-content: left;

}
.link-icon {
    width: 25px;
    height: 30px;
    margin-right: 5px ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.highlighted-text {
    font-weight: 550;
    color: rgb(68, 68, 68);
}
  