.project-card {
    background-color: #f1f1f1;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    min-width: 300px;
    max-width: 450px;
    flex: 1 1 450px;
}

.project-image {
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    margin: 0 2px 0 2px;
    width: 100%;
    vertical-align: middle;
    border: none !important;
    position: relative;
}
.project-image::before {
    content: "";
    display: block;
    padding-bottom: 100%;
}
  
  
.project-card h2 {
    font-size: 20px;
    margin-top: 0;
}
  
.project-card p {
    margin-bottom: 10px;
}

.links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}  
.button-link {
    background-color: #199be2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.link-icon {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
}
.icon-colab {
    background-image: url('../../assets/icon-colab.png');
}
.icon-github {
    background-image: url('../../assets/icon-github.png');
}
.icon-dataset {
    background-image: url('../../assets/icon-dataset.png');
}
  