<div class="project-card">
    <h2>{{ project.name }}</h2>
    <div class="project-image" #projectImage [style.backgroundImage]="'url(' + project.thumbnail + ')'"></div>

    <p>{{ project.description }}</p>
    <div class="links-container">
        <button class="button-link" (click)="openUrl.emit(project.notebookUrl)">
            <div class="link-icon icon-colab"></div>
            Notebook
        </button>
        <button class="button-link" (click)="openUrl.emit(project.datasetUrl)">
            <div class="link-icon icon-dataset"></div>
            Dataset
        </button>
        <button class="button-link" (click)="openUrl.emit(project.githubUrl)">
            <div class="link-icon icon-github"></div>
            Repository
        </button>
    </div>
</div>
  