/* Container de tous les éléments du chatbot */
.chatbot-container {
  position: fixed;

  width: 400px;
  max-width: calc(100% - 2px);

  top: 120px;
  bottom: 60px;
  right: 15px;

  background-color: white;
  transform: translateX(125%);
  transition: opacity 0.3s, transform 0.3s;
  border: 1px solid black;
  border-radius: 2px 0px 0px 2px;
}
.chatbot-container.visible {
  opacity: 1;
  transform: translateX(0);
}


@media (max-width: 400px) {
  .chatbot-container {
    right: 0px;
  }
}

.chatbot-title{
  position: fixed;
  z-index: 2;
  background: black;
  height: 40px;
  width: 100%;
  border-radius: 2px 0px 0px 0px;
  text-align: center;
  color: white;
}

.chatbot-messages-container{
  position: absolute;
  z-index: 1;
  width: calc(100% - 10px);
  max-height: calc(100% - 65px);
  margin: 30px 5px 35px 5px;
  overflow-y: auto;
  bottom: 0;
}

.chatbot-messages {
  margin-top: 5px;
}

.message {
  word-wrap: break-word;
  display: inline-block;
  padding: 2px 5px 2px 5px;

}
.user-message {
  border-radius: 15px 15px 15px 0 ;
  background-color: #a1a1a1d5;
}
.chatbot-message {
  border-radius: 15px 15px 0 15px ;
  background-color: black;
  color:white;
}




/* Container de la saisie de messages, se trouve à l'intérieur du chatbot-container */
.chatbot-input {
  position: fixed;
  width: 100%;
  height: 30px;
  bottom: 0px;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.3s, transform 0.3s;
}
.chatbot-input.visible {
  opacity: 1;
  transform: translateX(0);
}
.chatbot-input-text {
  position: fixed;
  width: calc(100% - 30px - 15px);
  height: 27px;
  padding-left: 10px;
  border: 1px solid gray;
  border-radius: 0px 0px 0px 2px;
}
.chatbot-input-send {
  position: fixed;
  background-image:url('../../assets/send.png');
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: calc(100% - 30px);
  width: 30px;
  height: 30px;
  border: 0px;
}




.chatbot-button {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 45px;
  height: 45px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
  border: 1px;
  border-radius: 5px 0 5px 0;
  transition: transform 0.3s;
}
.chatbot-button:hover {
  transform: scale(1.2);
}
.chatbot-button-open {
  background-image:url('../../assets/chevron-down.png');
  rotate: 270deg;
}
.chatbot-button-closed {
  background-image:url('../../assets/chatbot.png');
}

@keyframes wiggle {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

.wiggle {
  animation: wiggle 1s ease-in-out infinite;
}
