/* Container de tous les éléments du chatbot */
.chatbot-container {
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  top: 20px;
  bottom: 70px;
  right: 20px;
  width: 300px;
  height: 100%;
  background-color: hsla(0, 0%, 100%, 0);
  align-items: flex-start;
}

/* Container de la saisie de messages, se trouve à l'intérieur du chatbot-container */
.chatbot-input {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #f8f8f800;
}

/* Container des messages du bot et de l'utilisateur, se trouve à l'intérieur du chatbot-container */
.chatbot-messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  pointer-events: none; /* Permet aux clics de passer à travers */
  align-items: flex-end;
}

/* Message de l'utilisateur, se trouve à l'intérieur du chatbot-messages */
.user-message {
  align-self: flex-start;
  overflow: hidden;
}

/* Message du bot, se trouve à l'intérieur du chatbot-messages */
.chatbot-message {
  align-self: flex-end;
  overflow: hidden;
}