<div class="chatbot-container" [ngClass]="{'collapsed': isChatbotCollapsed}">
  <div class="chatbot-messages" #chatbotMessagesContainer 
  *ngFor="let message of chatMessages; let i = index"
  [ngClass]="{'user-message': message.isUserMessage, 'chatbot-message': !message.isUserMessage}">
    {{ message.text }}
  </div>

  <div class="chatbot-input">
    <input type="text" [(ngModel)]="userInput" (keydown.enter)="sendMessage()" placeholder="Votre message..." />
    <button (click)="sendMessage()">Envoyer</button>
  </div>
</div>
