<div class="container">
  <div class="navbar fixed-navbar">
    <div class="top-elements">
      <div class="title">
        <div>Jérémy Chassin</div>
        <div class="title-spacer"></div>
        <div>Machine Learning Engineer</div>
      </div>

      <div class="links">
        <a class="email-icon icon" target="_blank" href="mailto:jerem.chassin@gmail.com"></a>    
        <a class="linkedin-icon icon" target="_blank" href="https://www.linkedin.com/in/jeremy-chassin/"></a>    
      </div>

      <div class="circle-frame">
      </div>
    </div>

    <div class="menu">
      <button class="button-as-text" (click)="loadContent('home')" [ngClass]="{'active': selectedItem === 'home'}">About me</button>
      <button class="button-as-text" (click)="loadContent('projects')" [ngClass]="{'active': selectedItem === 'projects'}">Projects</button>
      <button class="button-as-text" (click)="loadContent('resume')" [ngClass]="{'active': selectedItem === 'resume'}">Resume</button>
    </div>
  </div>

  <div class="content">
    <div class="content-container">
      <ng-container *ngIf="selectedItem === 'home'" >
        <app-home ></app-home>
      </ng-container>

      <ng-container *ngIf="selectedItem === 'projects'" >
        <app-projects></app-projects>
      </ng-container>

      <ng-container *ngIf="selectedItem === 'resume'">
        <app-resume></app-resume>
      </ng-container>
  </div>

  <div class="footer">
    <p>Icons by <a href="https://icons8.com/" target="_blank" rel="noopener">Icons8</a></p>
  </div>
</div>

  <div>
    <app-chatbot></app-chatbot>
  </div>
</div>
