.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Réglez la hauteur du conteneur sur 100vh pour occuper tout l'écran */  
}




.navbar {
    display: flex;
    flex-direction: column;
    background-image: url('../resources/cropped_banner_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 115px;
    width:100vw;
    order: 1;    
    position: fixed;
    z-index: 100;
}

.fixed-navbar .top-elements {
    display: flex;
    flex-direction: row;
    width:100vw;
    margin-left: 10px;
    margin-top: 10px;
}

.nav-link {
    padding-left: 5px;
}  

.fixed-navbar .menu {
    display: flex;
    align-items: flex-start;
    margin-left: 20px;
}

.fixed-navbar .right-align {
    display: flex;
    align-items: flex-end;
}

.icon{
    width: 20px;
    height: 20px;
}

.linkedin-icon {
    display: inline-block;
    background-image: url('../resources/icon-linkedin.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.mat-icon {
    color: white;
}

.button-as-text {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    width: 120px;
    height: 40px;
    top: 36px;
}

.button-as-text:hover {
    font-size: 1.2em;
    transition: font-size 0.3s;
}

.button-as-text.active {
    color: black;
    background-color: white;
    position: relative;
    font-size: 1em;
}

.circle-frame {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url('../resources/moi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: 1;
    top: 10px;
    right: 10px;
    border: 2px solid white;
}

@media (min-width: 600px) {
    .circle-frame {
        width: 90px;
        height: 90px;
    }
}




.content{
    margin-top: 15vh;
    margin-left: 10px;
    overflow-y: auto;
}

.content-container{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}




.chatbot {
    bottom: 20px;
    right: 20px;
}
