.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Réglez la hauteur du conteneur sur 100vh pour occuper tout l'écran */  
}




.navbar {
    display: flex;
    align-items: center;
    background-image: url('../resources/cropped_banner_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 15vh;
    width:100vw;
    order: 1;    
    position: fixed;
    justify-content: space-between;
    z-index: 100;
}

.nav-link {
    padding-right: 5px; /* Espacement à droite entre les liens */
}  

.fixed-navbar .left-align {
    display: flex;
    align-items: flex-start;
}

.fixed-navbar .right-align {
    display: flex;
    align-items: flex-end;
}

.icon{
    width: 20px;
    height: 20px;
}

.linkedin-icon {
    display: inline-block;
    background-image: url('../resources/icon-linkedin.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.mat-icon {
    color: white;
}


.content{
    flex: 1; /* Permet au conteneur de remplir l'espace disponible */
    margin-top: 15vh;
    overflow-y: auto; /* Affiche la barre de défilement uniquement si le contenu dépasse la hauteur du conteneur */
    bottom: 0;
    flex-direction: column-reverse;
}




.chatbot {
    bottom: 20px;
    right: 20px;
}

.button-as-text {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    transition: font-size 0.3s;
    font-weight: bold;
    position: relative;
    width: 100px;
    height: 50px;
    top: calc(5vh - 1px);; /* Ajustez la valeur pour correspondre à la hauteur de la navbar */
}
  
.button-as-text:hover {
    text-decoration: underline;
    font-size: 1.2em;
}

.button-as-text.active {
    color: black;
    background-color: white;
    font-weight: bold;
    position: relative;
    width: 100px;
    height: 50px;
    top: calc(5vh - 1px);; /* Ajustez la valeur pour correspondre à la hauteur de la navbar */
}