<div class="container-resume">
    <div class="resume-header">
      <h1>Jérémy Chassin</h1>
    </div>
    <div class="contact">
        <div class="contact-info"><div class="icon-img address-img"></div><div>Biarritz, France</div></div>
        <div class="contact-info"><div class="icon-img phone-img"></div><div>+33 6 35 50 91 42</div></div>
        <a class="contact-info" target="_blank" href="mailto:jerem.chassin@gmail.com"><div class="icon-img mail-img"></div>jerem.chassin@gmail.com</a>
        <a class="contact-info" target="_blank" href="https://www.linkedin.com/in/jeremy-chassin/"><div class="icon-img linkedin-img"></div>linkedin.com/in/jeremy-chassin</a>
    </div>
    <p>
        After 12 years in software development during which I have honed my skills in developing robust software solutions, I have decide to specialize in the exciting world of machine learning.
    </p>
    <p>
        <b>Available Now</b>
    </p>
    <div class="resume-content">
      <div class="resume-left-column">
        <h2>PROFESSIONAL EXPERIENCE</h2>
        <h3><strong>ML Engineer Student</strong>, OpenClassroom - ML Engineer curriculum</h3>
        October 2022 to June 2023 (<strong>8 months</strong>)
        <ul>
            <li>
                <strong>ML Ops</strong>: TFX - classification pipeline <span class="highlighted-text">[Tensorflow, PyTorch]</span>.
            </li>
            <li>
                <strong>LLMs</strong>: Chatbot generalist and Q&A on my CV <span class="highlighted-text">[OpenAI, Dolly, Langchain]</span>.
                <br />
                <span class="highlighted-text">Serving:</span> Below on the right, talk with Andrew.
            </li>
            <li>
                <strong>Food Facts</strong>: EDA, multivariate, dimensionality reduction to determine the impact of sugar and fat on Nutriscore <span class="highlighted-text">[Scikit-learn]</span>.
            </li>
            <li>
                <strong>CO2 building performance</strong>: EDA, training, prediction of energy score for a building <span class="highlighted-text">[Scikit-learn, KRR, Linear Regression, KNN, Lasso, XGBoost]</span>.
            </li>
            <li>
                <strong>E-commerce customer segmentation</strong>: RFM, Churn - unsupervised learning + stability of segmentation over time <span class="highlighted-text">[K-means]</span>.
                <br />
                <span class="highlighted-text">Serving:</span> Activation by adding the score to the original dataset ready to be used by APIs.
            </li>
            <li>
                <strong>Stack Overflow post categorization</strong>: Embedding-based, multiclass classification, model transformers <span class="highlighted-text">[BERT vs. LDA, TF-IDF, doc2Vec]</span>.
                <br />
                <span class="highlighted-text">Serving:</span> API and StreamLit app.
            </li>
            <li>
                <strong>Image classification and performance improvement</strong>: Image classifier and performance improvement by augmenting the dataset. Started with CNN from scratch and then increased the dataset by cropping interesting parts of the images.<span class="highlighted-text">[CNN, YoloV8]</span>
                <br />
                <span class="highlighted-text">Serving:</span> Python application (Tkinter) for inference.
            </li>
        </ul>

        <h3><strong>Software Architect</strong>, Exakis-Nelite, Biarritz</h3>
        May 2016 to April 2022 (<strong>6 years</strong>)
        <ul>
            <li>
                <strong>Architecture and development</strong>: Complete customizable SaaS Chatbot platform (50+ clients) using .Net Core, Azure
            </li>
            <li>
                <strong>Pre-sales Engineer</strong>: Creating commercial proposals, responding to software package management bids (est. 250 man-hours)
            </li>
            <li>
                <strong>Software development project management</strong>: 40 hours to 120 hours, managing teams of 2 software engineers
            </li>
            <li>
                <strong>Maintenance and evolution</strong>: Airport management, aerospace, and silicone machining software.
            </li>
        </ul>
        
        <h3><strong>Data Engineer</strong>, SB Consulting, Paris</h3>
        September 2015 to April 2016 (<strong>8 months</strong>)
        <ul>
            <li>
                <strong>Data engineering, architecture, and development</strong>: SB Lawyer, an ERP system for managing lawyers' business, using ETL, MS Dynamics, and SharePoint
            </li>
            <li>
                <strong>Pre-sales Engineer</strong>: Technical reference for the sales team.
            </li>
        </ul>
        
        <h3><strong>Linguistic Trip</strong>, New Zealand</h3>
        October 2014 to May 2015 (<strong>8 months</strong>)
        
        <h3><strong>Software Engineer</strong>, Sopra Steria, Vélizy</h3>
        October 2011 to September 2014 (<strong>3 years</strong>)
        <ul>
            <li>
                <strong>Maintenance, evolution, and on-call support</strong>: Airport management software for international airports (Paris, Lyon, Mulhouse, Bristol, Nantes, Bordeaux)
            </li>
        </ul>

        <h3><strong>Technical Project Manager</strong>(Apprenticeship), TraceOne, Paris</h3>
        September 2008 to September 2011 (<strong>3 years</strong>)
        <ul>
            <li>
                <strong>BI, Data engineering, maintenance, evolution, training, and project management</strong>: Microsoft CRM 3.0, Microsoft Dynamics, SharePoint 2007, ETL, ERP
            </li>
        </ul>
        
        <h2>EDUCATION</h2>
        <h3>OpenClassroom, Online Training - <strong>Machine Learning Engineer</strong> - Master degree level</h3>
        October 2022 to June 2023
        
        <h3>ITIN - CCIV, Cergy Saint Christophe - <strong>International Business Engineering</strong> (English curriculum) - Master degree level</h3>
        September 2008 to August 2011
        
        <h3>Lycée Jean Jacques Rousseau, Montmorency - <strong>Higher technician certificate in Computer Science</strong></h3>
        September 2006 to August 2008
    </div>
    
    <div class="resume-right-column">        
        <h2>SKILLS</h2>
        <ul>
          <li>
            Cloud Computing: Azure, DevOps, Colab
          </li>
          <li>
            ML Frameworks: XGBoost, Tensorflow, Scikit Learn, HuggingFace
          </li>
          <li>
            ML Ops: Kubeflow, Ray, TFX
          </li>
          <li>
            Programming:
            <ul>
              <li>Backend: Python, pandas, Tensorflow Extended, BigQuery ML, C#, .Net, .Net Core</li>
              <li>Frontend/UI: Angular, ASP .Net, ASP, Javascript, Typescript, HTML 5, CSS3</li>
            </ul>
          </li>
          <li>
            Models: MVVM, MVC
          </li>
          <li>
            Databases: SQL Server, Oracle PL SQL, PostgreSQL, MySQL, Azure Table Storage
          </li>
          <li>
            ETL: SSIS, Talend
          </li>
          <li>
            IDE: Visual Studio, Unity
          </li>
          <li>
            Source control: GIT, TFS
          </li>
          <li>
            System: Windows Server, IIS
          </li>
        </ul>
        <h2>CERTIFICATION</h2>
        <ul>
          <li>SCRUM Master level 1</li>
        </ul>
        <h2>LANGUAGES</h2>
        <ul>
          <li>English: C1 level</li>
          <li>Spanish: B1 level</li>
        </ul>
        <h2>SOFT SKILLS</h2>
        <ul>
          <li>Adaptability</li>
          <li>Make it Work</li>
          <li>Detail-oriented</li>
          <li>Synthetic thinking</li>
          <li>Team player</li>
          <li>Friendly</li>
        </ul>
        <h2>SPORTS</h2>
        <ul>
          <li>Surfing</li>
          <li>Boxing (amateur competition)</li>
        </ul>
        <h2>TRAVELS</h2>
        <ul>
            <li>New Zealand</li>
            <li>United States</li>
            <li>Japan</li>
            <li>Croatia</li>
            <li>Greece</li>
            <li>Italy</li>
            <li>Hongria</li>
            <li>Spain</li>
            <li>England</li>
            <li>Scotland</li>
        </ul>
      </div>
    </div>
  </div>
  