<div class="container-resume">
    <div class="resume-header">
      <h1>Jérémy Chassin</h1>
    </div>
    <div class="contact">
        <div class="contact-info"><div class="icon-img address-img"></div><div>Biarritz, France</div></div>
        <div class="contact-info"><div class="icon-img phone-img"></div><div>+33 6 35 50 91 42</div></div>
        <a class="contact-info" target="_blank" href="mailto:jerem.chassin@gmail.com"><div class="icon-img mail-img"></div>jerem.chassin@gmail.com</a>
        <a class="contact-info" target="_blank" href="https://www.linkedin.com/in/jeremy-chassin/"><div class="icon-img linkedin-img"></div>linkedin.com/in/jeremy-chassin</a>
    </div>
    <p>
        After 12 years in software development during which I have honed my skills in developing robust software solutions, I have decide to specialize in the exciting world of machine learning.
    </p>
    <p>
        <b>Available Now</b>
    </p>
    <div class="resume-content">
      <div class="resume-left-column">
        <h2>PROFESSIONAL EXPERIENCE</h2>
        <span class="job-title"><strong>Master ML Engineer</strong>, OpenClassrooms - ML Engineer curriculum</span>
        <br/>
        October 2022 to June 2023 (<strong>8 months</strong>)
        <ul>
            <li>
                <strong>ML Ops</strong>: TFX - classification pipeline <span class="highlighted-text">[Tensorflow]</span>.
            </li>
            <li>
                <strong>LLMs</strong>: Chatbot generalist and Q&A on my CV <span class="highlighted-text">[OpenAI, Dolly, Langchain]</span>.
                <br/>
                <span class="highlighted-text">Serving:</span> Below on the right, talk with Andrew <button class="cbimg" (click)="openChatbot()"></button>.
            </li>
            <li>
                <strong>Food Facts</strong>: EDA, multivariate, dimensionality reduction to determine the impact of sugar and fat on Nutriscore <span class="highlighted-text">[Scikit-learn]</span>.
            </li>
            <li>
                <strong>CO2 building performance</strong>: EDA, training, prediction of energy score for a building <span class="highlighted-text">[Scikit-learn, KRR, Linear Regression, KNN, Lasso, XGBoost]</span>.
            </li>
            <li>
                <strong>E-commerce customer segmentation</strong>: RFM, Churn: unsupervised learning + segmentation stability over time <span class="highlighted-text">[K-means]</span>.
                <br/>
                <span class="highlighted-text">Serving:</span> Activation by adding the score to the original dataset ready to be used by APIs.
            </li>
            <li>
                <strong>Stack Overflow post categorization</strong>: Embedding-based, multiclass classification, model transformers <span class="highlighted-text">[BERT vs. LDA, TF-IDF, doc2Vec]</span>.
                <br/>
                <span class="highlighted-text">Serving:</span> API and web app <span class="highlighted-text">[StreamLit]</span>.
            </li>
            <li>
                <strong>Image classification and performance improvement</strong>: Image classifier and performance improvement with dataset augmentation. CNN from scratch, pretrained model and increase of the dataset by cropping images interesting parts <span class="highlighted-text">[DataDen, TensorFlow Keras, ReseNet, YOLOv8]</span>.
                <br/>
                <span class="highlighted-text">Serving:</span> Python application for inference <span class="highlighted-text">[Tkinter]</span>.
            </li>
        </ul>
        <br/>

        <span class="job-title"><strong>Software Architect</strong>, Exakis-Nelite, Biarritz</span>
        <br/>
        May 2016 to April 2022 (<strong>6 years</strong>)
        <ul>
            <li>
                <strong>Architecture and development</strong>:
                <ul>
                    <li>
                        Complete customizable SaaS Chatbot platform (50+ clients) <span class="highlighted-text">[LUIS.ai, Bot Framework, .Net Core, Azure]</span>.
                    </li>
                    <li>
                        Airport & aerospace solutions for Paris airports and ATR <span class="highlighted-text">[Angular, Typescript, .Net, Oracle, PostgreSQL, SSIS, SSRS, Talend]</span>.
                    </li>
                </ul>
            </li>
            <li>
                <strong>Pre-sales Engineer</strong>: Creating commercial proposals, responding to software package management bids (est. 250 man-hours)
            </li>
            <li>
                <strong>Software development project management</strong>: 40 hours to 120 hours, managing teams of 2 software engineers
            </li>
            <li>
                <strong>Maintenance and evolution</strong>: Airport management, aerospace, and silicone machining software.
            </li>
        </ul>
        <br/>
        
        <span class="job-title"><strong>Data Engineer</strong>, SB Consulting, Paris</span>
        <br/>
        September 2015 to April 2016 (<strong>8 months</strong>)
        <ul>
            <li>
                <strong>Data engineering, architecture, and development</strong>: SB Lawyer, an ERP system for managing lawyers' business, using ETL, MS Dynamics, and SharePoint.
            </li>
            <li>
                <strong>Pre-sales Engineer</strong>: Technical reference for the sales team.
            </li>
        </ul>
        <br/>
        
        <span class="job-title"><strong>Linguistic Trip</strong>, New Zealand</span>
        <br/>
        October 2014 to May 2015 (<strong>8 months</strong>)
        <br/>
        <br/>
        
        <span class="job-title"><strong>Software Engineer</strong>, Sopra Steria, Vélizy</span>
        <br/>
        October 2011 to September 2014 (<strong>3 years</strong>)
        <ul>
            <li>
                <strong>Maintenance, evolution, and on-call support</strong>: Airport management software for international airports (Paris, Lyon, Mulhouse, Bristol, Nantes, Bordeaux).
            </li>
        </ul>
        <br/>

        <span class="job-title"><strong>Technical Project Manager</strong>(Apprenticeship), TraceOne, Paris</span>
        <br/>
        September 2008 to September 2011 (<strong>3 years</strong>)
        <ul>
            <li>
                <strong>BI, Data engineering, maintenance, evolution, training, and project management</strong>: Microsoft CRM 3.0, Microsoft Dynamics, SharePoint 2007, ETL, ERP.
            </li>
        </ul>
        <br/>
        
        <h2>EDUCATION</h2>
        <span class="job-title">OpenClassrooms, Online Training - <strong>Machine Learning Engineer</strong> - Master degree level</span>
        <br/>
        October 2022 to June 2023
        <br/>
        <br/>
        
        <span class="job-title">ITIN - CCIV, Cergy Saint Christophe - <strong>International Business Engineering</strong> (English curriculum) - Master degree level</span>
        <br/>
        September 2008 to August 2011
        <br/>
        <br/>
        
        <span class="job-title">Lycée Jean Jacques Rousseau, Montmorency - <strong>Higher technician certificate in Computer Science</strong></span>
        <br/>
        September 2006 to August 2008
        <br/>
        <br/>
    </div>
    
    <div class="resume-right-column">        
        <h2>SKILLS</h2>
        <ul>
          <li>
            <span class="highlighted-text">Cloud Computing:</span> Azure, DevOps, Colab, Google Cloud, Firebase
          </li>
          <li>
            <span class="highlighted-text">ML Frameworks:</span> XGBoost, Tensorflow, Scikit Learn, HuggingFace, LangChain
          </li>
          <li>
            <span class="highlighted-text">ML Ops:</span> TFX
          </li>
          <li>
            <span class="highlighted-text">Programming:</span>
            <ul>
              <li><u>Backend:</u> Python, pandas, Tensorflow Extended, BigQuery ML, C#, .Net, .Net Core</li>
              <li><u>Frontend/UI:</u> Angular, ASP .Net, ASP, Javascript, Typescript, HTML 5, CSS3</li>
            </ul>
          </li>
          <li>
            <span class="highlighted-text">Models:</span> MVVM, MVC
          </li>
          <li>
            <span class="highlighted-text">Databases:</span> SQL Server, Oracle PL SQL, PostgreSQL, MySQL, Azure Table Storage
          </li>
          <li>
            <span class="highlighted-text">ETL:</span> SSIS, Talend
          </li>
          <li>
            <span class="highlighted-text">IDE:</span> Visual Studio, Unity
          </li>
          <li>
            <span class="highlighted-text">Source control:</span> GIT, TFS
          </li>
          <li>
            <span class="highlighted-text">System:</span> Windows Server, IIS, Linux
          </li>
        </ul>
        <h2>CERTIFICATION</h2>
        <ul>
          <li>SCRUM Master level 1</li>
        </ul>
        <h2>LANGUAGES</h2>
        <ul>
          <li>English: C1 level (Autonomus)</li>
          <li>Spanish: B1 level (Intermediate)</li>
        </ul>
        <h2>SOFT SKILLS</h2>
        <ul>
          <li>Adaptability</li>
          <li>Make it Work</li>
          <li>Detail-oriented</li>
          <li>Synthetic thinking</li>
          <li>Team player</li>
          <li>Friendly</li>
        </ul>
        <h2>SPORTS</h2>
        <ul>
          <li>Surfing</li>
          <li>Boxing (amateur competition)</li>
        </ul>
        <h2>TRAVELS</h2>
        <ul>
            <li>New Zealand</li>
            <li>United States</li>
            <li>Japan</li>
            <li>Croatia</li>
            <li>Greece</li>
            <li>Italy</li>
            <li>Hungary</li>
            <li>Spain</li>
            <li>England</li>
            <li>Scotland</li>
        </ul>
      </div>
    </div>
  </div>
  