<div class="container-resume">
    <div class="resume-header">
      <h1>Jérémy Chassin</h1>
    </div>
    <div class="contact">
      <div class="contact-info">
        <div class="icon-img address-img"></div>
        <div>Biarritz, France</div>
      </div>
      <div class="contact-info">
        <div class="icon-img phone-img"></div>
        <div>+33 6 35 50 91 42</div>
      </div>
      <a class="contact-info" target="_blank" href="mailto:jerem.chassin@gmail.com">
        <div class="icon-img mail-img"></div>
        jerem.chassin@gmail.com
      </a>
      <a class="contact-info" target="_blank" href="https://www.linkedin.com/in/jeremy-chassin/">
        <div class="icon-img linkedin-img"></div>
        linkedin.com/in/jeremy-chassin
      </a>
      <a class="contact-info" [href]="cvPdfUrl" download="Resume_Jeremy_Chassin.pdf">
        <div class="icon-img download-img" title="download PDF version"></div>
        PDF file
      </a>
    </div>
    <p style="text-align:center">
      After 12 years in software engineering, during which I improved my skills in developing robust software solutions and started my journey in Machine Learning with NLP, designing, building, and deploying a SaaS chat bots platform, I have decided to pursue my studies in Machine Learning.
    </p>
    <p>
      <b>Available Now</b>
    </p>

    <div class="resume-content">
      <div class="resume-left-column">
        <br/>
        <div>
          <a [href]="masterMLEPdfUrl" download="Diploma_Master_MLE_Jeremy_Chassin.pdf">
            <span class="experience-title-school">
              <img src="../../assets/icon-diploma.png" class="icon-experience">
              <u>BACK TO SCHOOL, MASTER - MACHINE LEARNING ENGINEER</u> 1 Yr
            </span>
          </a>
          <br/>
          <span class="highlighted-text">
            CentraleSupélec - OC, Remote Paris
          </span>
          <br/>
          2022 - 2023
          <br/>
          <ul class="dashed-list">
            <li>
              Below on the right, have talk with my <strong>LLM</strong> Andrew <button class="cbimg" (click)="openChatbot()"></button>. I developed chains, enriched, fine tuned and deployed LLMs.
            </li>
            <li>
              Performed Exploratory Data Analysis, data cleaning and data pre-processing.
            </li>
            <li>
              Trained, made hyper parameter tuning, deployed and evaluated performance over time of supervised & unsupervised classification models for retail and online forum.
            </li>
            <li>
              Trained, tuned and deployed computer vision models for classification and objects detection.
            </li>
            <li>
              Developed applications and APIs to host models.
            </li>
          </ul>
        </div>        
        <br/>
        <br/>

        <div>
          <span class="experience-title-job">
            <img src="../../assets/icon-code.png" class="icon-experience">
            <u>MACHINE LEARNING ENGINEER NLP</u> 6 Yrs
          </span>
          <br/>
          <span class="highlighted-text">
            Exakis-Nelite, Biarritz
          </span>
          <br/>
          May 2016 to April 2022
          <br/>
          <ul class="dashed-list">
            <strong>Architecture and development:</strong>
            <li>
              Chat bot platform <span class="highlighted-text">[LUIS.ai, Bot Framework, .Net Core, Azure]</span>.
            </li>
            <li>
              Airport & aerospace solutions <span class="highlighted-text">[Angular, Typescript, .Net, Oracle, PostgreSQL, SSIS, SSRS, Talend]</span>.
            </li>
            <strong>Pre-sales Engineer:</strong>
            <li>
              Created commercial proposals, responded to software package management bids (est. 250 man-hours).
            </li>
            <li>
              Led face-to-face and online workshops on Natural Language Processing.
            </li>
            <strong>Software development project management:</strong> 40 hours to 120 hours, managing teams of 2 software engineers.
            <br/>
            <strong>Maintenance and evolution:</strong> Airport management, aerospace, and silicone machining software.
          </ul>
        </div>
        <br/>
        <br/>

        <div>
          <span class="experience-title-job">
            <img src="../../assets/icon-code.png" class="icon-experience">
            <u>DATA ENGINEER</u> 8 Mos
          </span>
          <br/>
          <span class="highlighted-text">
            SB Consulting, Paris
          </span>
          <br/>
          September 2015 to April 2016
          <ul class="dashed-list">
            <li>
              <strong>Data engineering, architecture, and development:</strong> SB Lawyer, an ERP system for managing lawyers' business, using ETL, MS Dynamics, and SharePoint.
            </li>
            <li>
              <strong>Pre-sales Engineer:</strong> Technical reference for the sales team.
            </li>
          </ul>
        </div>
        <br/>
        <br/>

        <div>
          <span class="experience-title-job">
            <img src="../../assets/icon-code.png" class="icon-experience">
            <u>SOFTWARE ENGINEER</u> 3 Yrs
          </span>
          <br/>
          <span class="highlighted-text">
            Sopra Steria, Vélizy
          </span>
          <br/>
          October 2011 to September 2014
          <ul class="dashed-list">
            <strong>Maintenance, evolution, and on-call support</strong>: Airport management software for international airports (Paris, Lyon, Mulhouse, Bristol, Nantes, Bordeaux).
          </ul>
        </div>
        <br/>
        <br/>

        <div>
          <a [href]="masterIBEPdfUrl" download="Diploma_Master_IBE_Jeremy_Chassin.pdf">
            <span class="experience-title-school">
              <img src="../../assets/icon-diploma.png" class="icon-experience">
              <u>MASTER - INTERNATIONAL BUSINESS ENGINEERING</u> 3 Yrs
            </span>
          </a>
          <br/>
          <span class="experience-title-job">
            <img src="../../assets/icon-code.png" class="icon-experience">
            <u>IT PROJECT MANAGER</u> 3 Yrs
          </span>
          <br/>
          <span class="highlighted-text">
          I TIN - CCIV, CERGY SAINT CHRISTOPHE
          </span>
          <br>
          <span class="highlighted-text">
            TRACEONE, PARIS
          </span>          
          <br/>
          September 2008 to September 2011
          <ul class="dashed-list">
            <strong>BI, Data engineering, maintenance, evolution, training, and project management</strong>: Microsoft CRM 3.0, Microsoft Dynamics, SharePoint 2007, ETL, ERP.            
          </ul>
        </div>
        <br/>
        <br/>

        <div>
          <a [href]="BEngIGPdfUrl" download="Diploma_BTS_IG_Jeremy_Chassin.pdf">
            <span class="experience-title-school">            
              <img src="../../assets/icon-diploma.png" class="icon-experience">
              <u>BTS (B-eng) - COMPUTER SCIENCE</u> 2 Yrs
            </span>
          </a>
          <br/>
          <span class="highlighted-text">
            LYCÉE JEAN-JACQUES ROUSSEAU - CCIV, CERGY SAINT CHRISTOPHE
          </span>
          <br/>
          September 2008 to September 2011
        </div>
      </div>
    
      <div class="resume-right-column">
        <h2>SKILLS</h2>
        <ul class="dashed-list">
          <li>
            <span class="highlighted-text">Cloud Computing:</span> Azure, DevOps, Colab, Google Cloud, Firebase
          </li>
          <li>
            <span class="highlighted-text">ML Frameworks:</span> XGBoost, Tensorflow, Scikit Learn, HuggingFace, LangChain
          </li>
          <li>
            <span class="highlighted-text">ML Ops:</span> Vertex AI
          </li>
          <li>
            <span class="highlighted-text">Programming:</span>
            <ul>
              <u>Backend:</u> Python, pandas, Tensorflow Extended, BigQuery ML, C#, .Net, .Net Core
              <br/>
              <u>Frontend/UI:</u> Angular, ASP .Net, ASP, Javascript, Typescript, HTML 5, CSS3
            </ul>
          </li>
          <li>
            <span class="highlighted-text">Models:</span> MVVM, MVC
          </li>
          <li>
            <span class="highlighted-text">Databases:</span> SQL Server, Oracle PL SQL, PostgreSQL, MySQL, Azure Table Storage
          </li>
          <li>
            <span class="highlighted-text">ETL:</span> SSIS, Talend
          </li>
          <li>
            <span class="highlighted-text">IDE:</span> Visual Studio, Unity
          </li>
          <li>
            <span class="highlighted-text">Source control:</span> GIT, TFS
          </li>
          <li>
            <span class="highlighted-text">System:</span> Windows Server, IIS, Linux
          </li>
        </ul>
        <h2>CERTIFICATION</h2>
        <ul class="dashed-list">
          <li>SCRUM Master level 1</li>
        </ul>
        <h2>LANGUAGES</h2>
        <ul class="dashed-list">
          <li><span class="highlighted-text">French:</span> Native</li>
          <li><span class="highlighted-text">English:</span> C1 level (Autonomous)</li>
          <li><span class="highlighted-text">Spanish:</span> B1 level (Intermediate)</li>
        </ul>
        <h2>SOFT SKILLS</h2>
        <ul class="dashed-list">
          <span class="highlighted-text">#Adaptability</span><br/>
          <span class="highlighted-text">#Make it Work</span><br/>
          <span class="highlighted-text">#Detail-oriented</span><br/>
          <span class="highlighted-text">#Synthetic thinking</span><br/>
          <span class="highlighted-text">#Team player</span><br/>
        </ul>
        <h2>SPORTS</h2>
        <ul class="dashed-list">
          <li>Surfing</li>
        </ul>
        <h2>TRAVELS</h2>
        <ul class="dashed-list">
            <li>New Zealand</li>
            <li>United States</li>
            <li>Japan</li>
            <li>Croatia</li>
            <li>Greece</li>
            <li>Italy</li>
            <li>Hungary</li>
            <li>Spain</li>
            <li>England</li>
            <li>Scotland</li>
        </ul>
      </div>
    </div>
  </div>
  