.container-resume {
    display: flex;
    flex-direction: column;
    flex:1;
    padding: 0 20px 20px 20px;
  }
 
.resume-header {
    text-align: center;
    margin-bottom: 20px;
}
  
.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}
.contact-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 15px 0 15px;
}
.icon-img {
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 2px 0 2px;
    width: 25px;
    height: 25px;
    border: 0 !important;
    vertical-align: middle; /* Ajout de la propriété */
}
.mail-img {
    background-image:url('./resources/icon-email.png');
}
.linkedin-img {
    background-image:url('./resources/icon-linkedin.png');
}
.address-img {
    background-image:url('./resources/icon-address.png');
}
.phone-img {
    background-image:url('./resources/icon-phone.png');
}

.horizontal-line {
    border: 1px;
    border-top: 1px solid black;
    margin: 10px 0; /* Adjust margin as per your requirements */
}  

.resume-content {
    display: flex;
    flex-wrap: wrap;
}

.resume-left-column {
    width: 66%;
}
  
.resume-right-column {
    width: 34%;
}
  
a {
    color:black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.highlighted-text {
    font-weight: 500;
}
  
/* Media query for smartphones */
@media (max-width: 576px) {
    .resume-content {
        flex-direction: column;
    }
    
    .resume-left-column {
        width: 100%;
    }
    
    .resume-right-column {
        width: 100%;
    }
}
  