html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
    flex-direction: flex;
}
  
.navbar {
    display: flex;
    align-items: center;
    background-color: #486b92;
    color: white;
    height: 50px;
    width:100vw;
    order: 1;
    /* Styles supplémentaires pour la barre de menu en haut */
}

.nav-link {
    padding-right: 5px; /* Espacement à droite entre les liens */
}
  
.fixed-navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }

.fixed-navbar .left-align {
    display: flex;
    align-items: flex-start;
  }

.fixed-navbar .right-align {
    display: flex;
    align-items: flex-end;
}

.mat-icon {
    font-size: 24px; /* Taille de l'icône */
}

.content {
    order: 2;
    margin-top: 50px;
    position: relative;
}
    
.chat-bot {
    bottom: 20px;
    right: 20px;
}

.svg-background {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.icon-container mat-icon {
    color: white;
}

.button-as-text {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    transition: font-size 0.3s;
  }
  
.button-as-text:hover {
    text-decoration: underline;
    font-size: 1.2em;
  }
