<div class="home-container">
    <div class="text-container">
        <p class="title">My journey</p>
        <p>Hi! I'm Jérémy, a Machine Learning Engineer with over 12 years of experience in Software Engineering !</p>
        <p>
            I began Machine Learning Engineering designing, building and deploying a SaaS chat bot platform. 
            It woke up a deep curiosity for artificial intelligence and I decided to pursue my studies with a master in Machine Learning Engineering.
            Today I am a Senior Data Scientist at Orange in Toulouse.
        </p>    
    </div>

    <div class="text-container">
        <p class="title">Skills and Specializations across various aspects of machine learning, including</p>
        <ul>
            <li>Large language models, <a class="generative-AI" (click)="openChatbot()"><u>have a talk with my LLM chat bot Andrew</u></a> <button class="cbimg" (click)="openChatbot()"></button> and ask it if I would be a good fit for a position.</li>
            <li>Natural Language Processing (NLP)</li>
            <li>Data preprocessing and feature engineering.</li>
            <li>Computer Vision and Image Recognition.</li>
            <li>Supervised and unsupervised learning algorithms.</li>
            <li>Deep learning and neural networks.</li>
        </ul>
    </div>  

    <div class="text-container">
        <p class="title">Bridging Software Engineering and Machine Learning</p>
        <p>
            <a target="_blank" href="https://thenextweb.com/news/why-most-machine-learning-models-never-hit-market-syndication">90% percent of machine learning models never hit the market</a>
            and one the reason is the disconnect between IT, data science, and engineering.
        </p>
        <p>
            As a seasoned software engineer, I thrive in combining my software engineering skills with machine learning techniques.<br/>
            My goal is to leverage the power of data-driven insights to solve complex problems and deploy those solutions into production.
        </p>
    </div>
      
    <div class="text-container">
        <p class="title">Let's Connect</p>
        <p>
            I am excited about the endless possibilities that machine learning brings and want to explore new opportunities and projects.
            If you have a specific challenge or want to discuss potential collaborations, I'd love to connect.
        </p>
        <div class="contacts">
            <a class="contact" href="tel:+33635509142"><div class="icon-img phone-img"></div>+33 6 35 50 91 42</a>
            <a class="contact" href="mailto:jerem.chassin@gmail.com" target="_blank"><div class="icon-img mail-img"></div>jerem.chassin@gmail.com</a>
            <a class="contact" href="https://www.linkedin.com/in/jeremy-chassin/" target="_blank"><div class="icon-img linkedin-img"></div>linkedin.com/in/jeremy-chassin</a>
        </div>
    </div>
</div>