<div class="home-container">
    <h1>About me</h1>
    <p>Hello! I'm an enthousiast Machine Learning Engineer with a strong background in software engineering. With over 12 years of experience in the industry, I have honed my skills in developing robust software solutions and have recently transitioned my focus to the exciting world of machine learning.</p>
  
    <h2>My journey into Machine Learning</h2>
    <p>
        My journey into machine learning began with the design an the implemention of industrialized chatbot solutions, wich as woken up a deep curiosity for how artificial intelligence can revolutionize various domains.
        Eager to change career to match my new interests, I obtained a master a degree in Machine Learning Engineering to gain a comprehensive understanding of this constantly evolving field.
    </p>

    <h2>Bridging Software Engineering and Machine Learning</h2>
    <p>
        As a seasoned software engineer, I bring a unique perspective to machine learning projects. 
        I thrive in combining my strong software development foundation with cutting-edge machine learning techniques to create robust solutions.
        <a target="_blank" href="https://thenextweb.com/news/why-most-machine-learning-models-never-hit-market-syndication">90% percent of machine learning models never hit the market</a> and one the reason is the disconnect between IT, data science, and engineering.
        My goal is to leverage the power of data-driven insights to solve complex problems and deploy those solutions into production.
    </p>

    <h2>Skills and Specializations across various aspects of machine learning, including</h2>
    <ul>
        <li>Natural Language Processing (NLP)</li>
        <li>Large language models, ask Andrew <button class="cbimg" (click)="openChatbot()"></button> if I would be a good fit for a position</li>
        <li>Data preprocessing and feature engineering</li>
        <li>Computer Vision and Image Recognition</li>
        <li>Supervised and unsupervised learning algorithms</li>
        <li>Deep learning and neural networks</li>
    </ul>
  
    <h2>Collaborative Approach and Problem-Solving</h2>
    <p>
        One of the aspects I value most in my work is collaboration.
        I thrive in dynamic teams where ideas are freely exchanged, fostering an environment for creative problem-solving.
        I enjoy taking on challenges and continuously learning from every project I undertake.
    </p>
  
    <h2>Let's Connect</h2>
    <p>
        I am excited about the endless possibilities that machine learning brings, and I'm always want to explore new opportunities and projects.
        Whether you have a specific machine learning challenge or want to discuss potential collaborations, I'd love to connect.
        Feel free to reach out through the contact informations below.
    </p>
    
    <div class="contact">
        <div class="contact-info"><div class="icon-img phone-img"></div><div>+33 6 35 50 91 42</div></div>
        <a class="contact-info" target="_blank" href="mailto:jerem.chassin@gmail.com"><div class="icon-img mail-img"></div>jerem.chassin@gmail.com</a>
        <a class="contact-info" target="_blank" href="https://www.linkedin.com/in/jeremy-chassin/"><div class="icon-img linkedin-img"></div>linkedin.com/in/jeremy-chassin</a>
    </div>
</div>