.cbimg {
    background-image:url('../../assets/icon-chatbot.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    margin: 0 2px 0 2px;
    width: 23px;
    height: 20px;
    vertical-align: middle;
    border: none !important;
    cursor:pointer;
}

.home-container {
    margin: 20px 0px;
}

.text-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1px 10px 10px 10px;
    margin: 10px 0 20px 0;
}
.title {
    text-transform: uppercase;
    font-size: medium;
    font-weight: 800;
    color: rgb(60, 60, 60);
}
.generative-AI {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
    background-color: red;
    background-image: linear-gradient(45deg, green, #0000FF, #8000FF);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0 0 0;
}
.contact {
    display: flex;
    flex-direction: row;
    padding: 0 10px;
}

.icon-img {
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 2px 0 0;
    width: 25px;
    height: 25px;
    border: 0 !important;
    vertical-align: middle; /* Ajout de la propriété */
}
.mail-img {
    background-image:url('../../assets/icons8-mail-100.png');
}
.linkedin-img {
    background-image:url('../../assets/icons8-linkedin-50.png');
}
.phone-img {
    background-image:url('../../assets/icons8-phone-48.png');
}

@media (max-width: 800px) {
    .contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 0 0 0;
    }
  }